/* ?SPACING SYSTEM (px)
2/ 4/ 8/ 12/ 16/ 24/ 32/ 48/ 64/ 80/ 96/ 128
*/

/* ?FONT SIZE SYSTEM (px)
10/ 12/ 14/ 16/ 18/ 20/ 24/ 30/ 36/ 44/ 52/ 62/ 74/ 86/ 98
*/

/*
--- PRIMARY: #e67e22
--- TINTS: #fdf2e9, #fdf2e9, #fae5d3
--- SHADES: #cf711f
--- ACCENTS: 
--- GRAYS: #555, #333, #ddd, #888, #6f6f6f
*/

/**************************/
/** DEFAULT STYLES **/
/**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #555;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/**************************/
/** HERO SECTION **/
/**************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 7.4rem 0;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 5.2rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #333;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited,
.submit-btn {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  font-weight: 600;

  transition: all 1s;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: white;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #555;
}

.btn--outline:hover,
.btn--outline:visited {
  box-shadow: inset 0 0 0 3px white;
  background-color: #fdf2e9;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.customer-container {
  display: flex;
  align-items: center;
  margin-top: 6.4rem;
  gap: 1.2rem;
}

.customer-img-container img {
  height: 5.2rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.customer-img-container img:not(:last-child) {
  margin-right: -1.2rem;
}

.customer-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.customer-text span {
  color: #cf711f;
  font-weight: 700;
}

/**************************/
/** NAVIGATION **/
/**************************/
.header {
  height: 9.6rem;
  background-color: #fdf2e9;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
}

.header img {
  height: 3.2rem;
}

.main-navigation {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.navigation-link:link,
.navigation-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}

.navigation-link:hover,
.navigation-link:active {
  color: #cf711f;
}

.main-navigation li:last-child a:link,
.main-navigation li:last-child a:visited {
  color: white;
  padding: 1.6rem 3.2rem;
  background-color: #e67e22;
  border-radius: 8px;
}

.main-navigation li:last-child a:hover,
.main-navigation li:last-child a:active {
  background-color: #cf711f;
}

/**************************/
/** How it works **/
/**************************/
.how-it-works {
  padding: 7.4rem 0;
  width: 120rem;
  margin: 0 auto;
}

.heading-text {
  text-transform: uppercase;
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 4.4rem;
  color: #333;
  line-height: 1.6;
}

.step-container {
  margin-top: 9.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.heading-tertiary {
  font-size: 3.2rem;
  color: #333;
  margin-bottom: 3.2rem;
}

.step-count {
  font-size: 8.6rem;
  font-weight: 700;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-img {
  width: 50%;
  position: relative;
}

.step-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-container::before,
.step-img-container::after {
  content: "";
  width: 2%;
  padding: 12rem;
  background-color: #fae5d3;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.step-img-container::after {
  width: 2%;
  padding: 18rem;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/** FEATURED IN **/
/**************************/
.featured {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 0;
}

.featured-text {
  text-align: center;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #888;
}

.featured-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.featured-logo-container img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************************/
/** MEALS **/
/**************************/
.meals {
  margin: 0 auto;
  width: 120rem;
  padding: 8.4rem 0;
  text-align: center;
}

.meals-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 9.6rem;
  gap: 6.4rem;
  padding: 0 3.2rem;
  margin-bottom: 7.2rem;
}

.meal-cards {
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.5s;
}

.meal-cards:hover {
  transform: translateY(-8px);
}

.meal-card-features {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  color: #333;
  border-radius: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 0.8rem;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.heading-quaternary {
  margin: 2.4rem 0 3.2rem 0;
  font-size: 2.4rem;
}

.meal-feature {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-feature p {
  font-size: 1.8rem;
}

.meal-feature p span {
  font-weight: 500;
}

.meal-features {
  padding: 2.4rem 0 3.2rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.meal-feature-heading {
  font-size: 2.4rem;
}

.meal-feature-list {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  line-height: 2.4;
}

.meal-feature-list div {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.la-check,
.la-burn,
.la-utensils,
.la-star,
.la-times,
.la-apple-alt,
.la-leaf,
.la-pause,
.la-infinity {
  color: #cf711f;
}

.mr-icons {
  margin-right: 1.2rem;
}

.btn-recipies:link,
.btn-recipies:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #cf711f;
  position: relative;
}

.btn-recipies:link:after,
.btn-recipies:visited:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #cf711f;
  transition: all 0.6s;
}

.btn-recipies:hover:after,
.btn-recipies:hover:active {
  width: 100%;
}

/**************************/
/** TESTIMONIAL & GALLERY **/
/**************************/
.testimonials {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.6rem;
  background-color: #fdf2e9;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials-heading {
  padding: 0 0 0 9.6rem;
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;

  padding: 9.6rem;
}

.testimonial div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.testimonial div img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
}

.testimonial-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.author {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-container div {
  overflow: hidden;
}

.gallery-container img {
  width: 100%;
  transition: all 0.6s;
}

.gallery-container img:hover {
  scale: 1.2;
}

/**************************/
/** PRICING **/
/**************************/
.pricing {
  padding: 9.6rem 0;
  margin: 0 auto;
  max-width: 120rem;
}

.pricing-container {
  margin-bottom: 9.6rem;
}

.pricing-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;
}

.card {
  border: 2px solid #fdf2e9;
  border-radius: 8px;
  padding: 7.2rem;
}

.card .heading-text {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.card--1,
.card--2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--2 {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.card--2::before {
  position: absolute;
  content: "BEST VALUE";
  color: #333;
  background-color: #ffd43b;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.2rem 4.8rem;
  transform: rotate(45deg);
  top: 32px;
  right: -42px;
}

.meal-value {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.meal-value span {
  font-size: 3rem;
}

.sub-desc {
  font-size: 1.6rem;
  font-weight: 400;
  color: #6f6f6f;
  margin-bottom: 4.8rem;
}

.meal-features {
  font-size: 1.8rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.meal-features li {
  display: flex;
  gap: 0.8rem;
}

.meal-features li:last-child {
  margin-bottom: 3.6rem;
}

.card-heading-text {
  margin-bottom: 3.2rem;
}

.meals-sub-text {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 9.6rem;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.2rem;
}

.features-desc {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 1.6rem;
}

.la-pause,
.la-infinity,
.la-leaf,
.la-apple-alt {
  position: relative;
  margin: 1.2rem 0 3.2rem 1.2rem;
}

.la-pause::after,
.la-infinity::after,
.la-apple-alt::after,
.la-leaf::after {
  position: absolute;
  content: "";

  height: 6.4rem;
  width: 6.4rem;

  background-color: #fdf2e9;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -2;
}

/**************************/
/** CTA **/
/**************************/
.section-cta {
  padding: 3.6rem 0 9.6rem 0;
  max-width: 120rem;
  margin: 0 auto;
}

.container-cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 8px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.cta-form-container {
  background-image: linear-gradient(
    to right bottom,
    rgb(235, 152, 78),
    rgb(230, 126, 34)
  );
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-form-container .heading-secondary,
.cta-form-container .cta-desc {
  color: #45260a;
}

.cta-desc {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
}

.cta-img-container {
  background-image: linear-gradient(
      to right bottom,
      rgb(235, 152, 78, 0.4),
      rgb(230, 126, 34, 0.4)
    ),
    url(../img/eating.jpg);

  background-position: center;
  background-size: cover;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.cta-form label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #45260a;
}

.cta-form input,
.cta-form select {
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  border-radius: 8px;
  border: none;
  color: #333;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form .submit-btn {
  border: none;
  align-self: end;
  font-size: 1.8rem;
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.4rem;
  font-family: inherit;
  transition: all 0.4s;
}

.cta-form .submit-btn:hover {
  background-color: #fdf2e9;
  color: #45260a;
  transform: translateY(-4px);
}

.cta-form .submit-btn:active {
  transform: translateY(0px);
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
